<%= stylesheet_link_tag "custom", :media => "all" %>
<% @page_title = 'TOP' %>

<div class="top_first_view">
    <section class="top_first_view_inner">
        <h1>HearHere</h1>
        <div class="inner_article">
            HearHereは、DTMer/ミュージシャンのための総合Q＆Aサイトです。<br>
            質問と交流を通して、音楽のスキルを高めあいましょう。
        </div>
    </section>

</div>



