/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
Color Scheme

Name: Purple Navy
Hex: #4B497A
RGB: (75, 73, 122)
CMYK: 0.385, 0.401, 0, 0.521

Name: UCLA Blue
Hex: #5E7691
RGB: (94, 118, 145)
CMYK: 0.351, 0.186, 0, 0.431

Name: X11 Gray
Hex: #C1BEB7
RGB: (193, 190, 183)
CMYK: 0, 0.015, 0.051, 0.243

Name: White Coffee
Hex: #E6E3D3
RGB: (230, 227, 211)
CMYK: 0, 0.013, 0.082, 0.098
*/

/*フォーム系リセットCSS*/
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}
/*--------------------------------------------*/
.button_default {
    background:greenyellow;
    border:#000 1px solid;
    border-radius: 2px 2px;
    padding:2px 2px;
}
body,html {
    margin:0;
    font-family: ヒラギノ角ゴ \ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS P Gothic,Verdana,sans-serif;
}
header {
    width:100%;
    background: #4B497A;
    height:40px;
    display:flex;
    color:white;
    position:fixed;
}
.content {
    padding-top: 40px;
}
.flex-parent {
    display:flex;
}
/*TOP first-view*/
.top_first_view {
    background: url(/images/firstview_bg.jpg) no-repeat center/cover;
    height:600px;
    position:relative;
    display:flex;
}
.top_first_view:before {
    background-image :linear-gradient(90deg,rgba(75,73,122,0),rgba(0,0,0,.3));
    background-color:rgba(0,0,0,.8);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    content: "";
}
.top_first_view_inner {
    margin-right: auto;
    margin-left: auto;
    width:auto;
    max-width: 520px;
    position:relative;
    top:120px;
    color:white;
    justify-content: space-between;
}
.top_first_view_inner .inner_article {
    margin-top: 50px;
}


footer {
    width:100%;
    background:#4B497A;
    color:white;
}