<header>
    <div>
        HearHere
    </div>
    <div>
        <%= form_with do |form| %>
            <%= form.text_field :email %>
        <% end %>
    </div>
    <div>
        質問する
    </div>
    <div>
        新規登録
    </div>
    <div>
        ログイン
    </div>
</header>